sentencepiece
protobuf
datasets==4.3.0
huggingface_hub>=0.34.0
hf_transfer
unsloth_zoo
bitsandbytes
accelerate
xformers
peft
trl
triton
unsloth
torchao>=0.16.0
transformers==5.5.0
tokenizers>=0.22.0,<=0.23.0
torchcodec
timm
